/Application/Runtime/Logs/Home/16_08_25.log
/Application/Runtime/Logs
/Application/Runtime
/nbproject
/.idea
/nbproject
/Public/data
/data/upload

/Application/Common/Conf/database.config.php
/Application/Common/Conf/api.config.php
/Application/Common/Conf/pay.config.php
.project
/Application/Admin/View/121564dfsfsere
/Application/Common/Conf/pay.php
/data/phpqrcode/errors.txt
