<style>
th.table-id{width:240px;}
</style>
<include file="Application/Common/Layout/head.html" />

<include file="Application/Common/Layout/left.html" />
<div class="am-cf admin-main" style='overflow-y:scroll;'>
  <!-- content start -->
  <div class="slide_menu"><a href="javascript:;" class="menuBg">首页轮播管理</a>｜<a href="{:U('Slide/furniture')}">精品家具轮播管理</a>｜<a href="{:U('Slide/brand')}">品牌专区轮播管理</a>｜<a href="{:U('Slide/homedesign')}">家装设计轮播管理</a>｜<a href="{:U('Slide/material')}">装修材料轮播管理</a></div>
  <form class="form-horizontal" method="post" enctype="multipart/form-data">
    <div class="row">
        <!-- ko foreach: {data:orders} -->
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-lg-2 control-label">排序</label>

                <div class="col-lg-10">
                    <input type="text" name="id[]" data-bind="value:id" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">标题</label>

                <div class="col-lg-10">
                    <input type="text" name="name[]" data-bind="value:name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">链接</label>

                <div class="col-lg-10">
                    <input type="text" name="link[]" data-bind="value:link" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">图片</label>

                <div class="col-lg-10">
                    <div class="upload_file text-center">
                        <p>尺寸 : 1440X566px</p>
                        <img data-bind="attr:{src:img}"/>
                        <a href="#" class="btn-info"><i class="fa fa-cloud-upload"></i></a>
                        <input type="file" id="file" name="file[]"/>
                    </div>
                </div>
            </div>
<!--            广告位图片 start
              <div class="am-form-group" id="default_pic">
                  <label class="am-u-sm-3 am-form-label">广告位图片:</label>
                  <div class="am-u-sm-9">
                      上传 start
                      <div class="cf">
                          <a href="javascript:void(0);" id="defaultcontentBtn"  class="am-btn am-btn-default mr30 fl uploadImg">上传图片</a>
                          <p id="kosort">ko text:$data.id/ko</p>
                          <span >(注：200 × 200px，支持格式gif,jpg,png)</span>
                      </div>
                      <div id="defaultcontentList" class="cf">

                              <div  class="file-item thumbnail upload-state-done" >
                                  <p class="file-panel"><a class="icon-view js-viewImg" title="预览"></a></p>
                                  <img  src="<?php $arr_img=explode(',',$info['default_content']);echo $arr_img[0];?>" data-rel="<?php $arr_img=explode(',',$info['default_content']);echo $arr_img[1];?>" />
                              </div>

                      </div>
                      上传 end
                      <input type="file" name="default_content" id="change_default_pic" size="30" hidefocus="true" nc_type="change_default_pic">
                      <span class="admin-tips">当没有广告可供展示时使用的默认图片,系统支持的图片格式为:gif,jpg,jpeg,png</span>
                  </div>
              </div>
              广告位图片 end-->
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input type="hidden" name="img[]" data-bind="value:img"/>
                    <button type="submit" class="btn btn-primary">保存</button>
                    <button type="button" data-bind="click:$parent.remove" class="btn btn-danger">删除</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <div class="col-lg-4">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="#" data-bind="click: add" class="thumbnail text-center center-block"
                   style="height: 200px;line-height: 200px">
                    <i class="fa fa-plus" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
    </div>
</form>
  <!-- content end -->

</div>
<include file="Application/Common/Layout/foot.html" /> 
 <link rel="stylesheet" href="__CSS__/admin/bootstrap.min.css">
 <link rel="stylesheet" href="__CSS__/admin/font-awesome.min.css">
 <link rel="stylesheet" href="__CSS__/admin/upload.css">
<script src="__JS__/admin/knockout.js"></script>
<script src="__JS__/admin/knockout.mapping.js"></script>
<script src="__JS__/admin/upload.js"></script>
<script type="text/javascript">


    function viewModel(data) {
        var self = this;

        self.models = ko.mapping.fromJS(data || []);
        self.orders = ko.computed(function () {
            return self.models().sort(function (l, r) {
                return parseInt(l.id()) > parseInt(r.id()) ? 1 : -1;
            });
        })
        self.add = function () {
            self.models.push(self.NewItem({id: self.models().length + 1, img: '', name: '', link: ''}));
        };

        self.remove = function (item) {
            if(confirm("确定删除？")){
                self.models.remove(item);
                $("form").submit();
            }
            
        };

        self.NewItem = function (json) {
            return ko.mapping.fromJS(json || {});
        }
    }
   
    $(function () {
        ko.applyBindings(new viewModel({$list}));
        $.upload_img('.upload_file');
    });
    
    
// (function($){
//        define("admin/memberEdit",function(require, exports, module){
//            require("jquery/layer");
//            var upload = require("jquery/upload");
//            var manage = require("com/manage");
//            var Module = {
//                init: function(){
//                    /*
//                     * 广告位图片
//                     **/
//                    upload.base({
//                        pickID: "defaultcontentBtn",
//                        objID: "defaultcontentList",
//                        isSingle: true,
//                        storage: "admin_adv"
//                    });
//
//                }
//
//            };
//            module.exports = Module;
//        });
//        seajs.use("admin/memberEdit", function(module){
//            module.init();
//        });
//    })($);    

</script>