<include file="Application/Common/Layout/head.html" />
<style>.am-form-group{margin-bottom: 0}.am-selected{width:172px}</style>
<div class="am-cf admin-main">
<include file="Application/Common/Layout/left.html" /> 
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">会员2</strong> / <small>预存款</small></div>
      </div>

      <hr>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default" onclick="location.href='/Admin/Predeposit/predeposit.html'"><span class="am-icon-plus"></span> 充值管理</button>
              <button type="button" class="am-btn am-btn-default" onclick="location.href='/Admin/Predeposit/pdcashlist.html'"><span class="am-icon-save"></span> 提现管理</button>
              <button type="button" class="am-btn am-btn-default" onclick="location.href='/Admin/Predeposit/pdloglist.html'"><span class="am-icon-archive"></span> 预存款明细</button>
              <button type="button" class="am-btn am-btn-default" onclick="location.href='/Admin/Predeposit/pdaccountset.html'"><span class="am-icon-trash-o"></span> 汇出账号设置</button>
            </div>
          </div>
        </div>
      </div>

      <!--筛选条件 start-->
      <div >
          <form method="get" name="formSearch" id="formSearch">
            <div class="j-shop-selectwrap clearfix am-padding am-padding-bottom-0">
                <div class="j-shop-inpbox">
                  会员名称：<input type="text" name="mname" class="am-form-field" value="{:$_GET['mname']}">
                </div>
                <div class="j-shop-inpbox">
                  店铺名称：<input type="text" name="pdc_store_name" class="am-form-field" value="{:$_GET['pdc_store_name']}">
                </div>
                <div class="j-shop-inpbox">
                  <div style="float:left">申请时间：</div>
                  <div class="am-form-group am-form-icon" style="float:left">
                    <i class="am-icon-calendar"></i>
                    <input type="date" name="stime" class="am-form-field am-input-sm" value="{:$_GET['stime']}">
                  </div>
                  <div style="float:left;margin:0px 5px">~</div>
                  <div class="am-form-group am-form-icon" style="float:left">
                    <i class="am-icon-calendar"></i>
                    <input type="date" name="etime" class="am-form-field am-input-sm" value="{:$_GET['etime']}">
                  </div>
                </div>
            </div>

            <div class="j-shop-selectwrap clearfix am-padding am-padding-bottom-0">
              <div class="j-shop-inpbox">
                  支付状态：
                    <select data-am-selected="{btnSize: 'sm'}" name="paystate_search">
                      <option value="-1" selected='selected'>全部</option>
                      <option value="0" <if condition="$_GET['paystate_search'] eq 0 AND $_GET['paystate_search'] neq ''">selected='selected'</if>>待审核</option>
                      <option value="1" <if condition="$_GET['paystate_search'] eq 1  AND $_GET['paystate_search'] neq ''">selected='selected'</if>>待汇款</option>
                      <option value="2" <if condition="$_GET['paystate_search'] eq 2  AND $_GET['paystate_search'] neq ''">selected='selected'</if>>审核失败</option>
                      <option value="3" <if condition="$_GET['paystate_search'] eq 3  AND $_GET['paystate_search'] neq ''">selected='selected'</if>>汇款成功</option>
                      <option value="4" <if condition="$_GET['paystate_search'] eq 4  AND $_GET['paystate_search'] neq ''">selected='selected'</if>>汇款失败</option>
                    </select>
                </div>
                <div class="j-shop-inpbox">
                  提现编号：<input type="text" name="pdc_sn" class="am-form-field" value="{:$_GET['pdc_sn']}">
                </div>
                <div class="j-shop-inpbox">
                    <button class="am-btn am-btn-primary" type="submit">搜索</button>
                </div>
            </div>
          </form>
      </div>
      <!--筛选条件 end-->

      <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-date">申请时间</th>
                <th class="table-title">提现编号</th>
                <th class="table-type">会员账号</th>
                <th class="table-author am-hide-sm-only">申请店铺</th>
                <th class="table-date am-hide-sm-only">提现银行</th>
                <th class="table-date am-hide-sm-only">申请提现金额(元)</th>
                <th class="table-date am-hide-sm-only">状态|原因</th>
                <th class="table-date am-hide-sm-only">财务|时间</th>
                <th class="table-date am-hide-sm-only">出纳|时间</th>
                <th class="table-set">汇出银行账户</th>
              </tr>
              </thead>
              <tbody>
              <volist name="list" id="vo">
              <tr>
                <td>{$vo.pdc_add_time|date="Y-m-d H:i:s",###}</td>
                <td>{$vo.pdc_sn}</td>
                <td>{$vo.pdc_member_name}</td>
                <td>{$vo.pdc_store_name}</td>
                <td class="am-hide-sm-only">个人账户|{$vo.pdc_bank_name}</td>
                <td class="am-hide-sm-only">{$vo.pdc_amount}</td>
                <td class="am-hide-sm-only">
                  <switch name="vo.pdc_payment_state">
                    <case value="0">待审核</case>
                    <case value="1">待汇款</case>
                    <case value="2">审核失败</case>
                    <case value="3">汇款成功</case>
                    <case value="4">汇款失败</case>
                  </switch>
                </td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <if condition="empty($vo['pdc_check_admin'])">
                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only" onClick="location.href='__CONTROLLER__/pdcashverify?id={$vo.pdc_id}'"><span class="am-icon-copy"></span> 审核</button>
                        <else/>
                        {$vo.pdc_check_admin}<br><if condition="!empty($vo['pdc_check_time'])">{$vo.pdc_check_time|date="Y-m-d H:i:s",###}</if>
                      </if>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <if condition="empty($vo['pdc_payment_admin']) AND $vo['pdc_payment_state'] eq 1">
                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only" onClick="location.href='__CONTROLLER__/pdcashverify?id={$vo.pdc_id}'"><span class="am-icon-copy"></span> 汇款</button>
                        <else/>
                        {$vo.pdc_payment_admin}<br><if condition="!empty($vo['pdc_payment_time'])">{$vo.pdc_payment_time|date="Y-m-d H:i:s",###}</if>
                      </if>
                    </div>
                  </div>
                </td>
                <td><if condition="!empty($vo['accout'])">{$vo['accout']['account']}</if></td>
              </tr>
              </volist>
              </tbody>
            </table>
            <div class="am-cf">
              <div class="am-fr">
              {$page}
              </div>
            </div>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->

</div>
<include file="Application/Common/Layout/foot.html" /> 

