<include file="Application/Common/Layout/head.html" />
<style>
  table td{font-size: 14px}
  .servise-input{width:100px; margin-right: 5px}
</style>
<div class="am-cf admin-main">
<include file="Application/Common/Layout/left.html" /> 
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">预存款</strong> /
        <small>充值管理</small>
      </div>
    </div>

    <hr>

    <div class="am-tabs am-margin" data-am-tabs>
      <input type="hidden" name="form_submit" value="ok" />
      <input type="hidden" name="store_id" value="{$store_array['store_id']}" />
      <div>
        <div class="am-tab-panel am-fade am-in am-active">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">充值单号：</div>
            <div class="am-u-sm-8 am-u-md-10">
              {$info.pdr_sn}
            </div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">会员名称：</div>
            <div class="am-u-sm-8 am-u-md-10">
              {$info.pdr_member_name}
            </div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">充值金额（元）：</div>
            <div class="am-u-sm-8 am-u-md-10">
              {$info.pdr_amount}
            </div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">申请时间：</div>
            <div class="am-u-sm-8 am-u-md-10">
              {$info.pdr_add_time|date="Y-m-d H:i:s",###}
            </div>
          </div>
          <if condition="intval($info['pdr_payment_time'])">
		      <div class="am-g am-margin-top">
		        <div class="am-u-sm-4 am-u-md-2 am-text-right">付款方式：</div>
		        <div class="am-u-sm-8 am-u-md-10">
		          {$info.pdr_payment_name}
		        </div>
		      </div>
		      <div class="am-g am-margin-top">
		        <div class="am-u-sm-4 am-u-md-2 am-text-right">付款时间：</div>
		        <div class="am-u-sm-8 am-u-md-10">
		        	<if condition="date('His',$info['pdr_payment_time']) eq 0">
		        		{$info.pdr_payment_time|date="Y-m-d",###}
		        		<else/>
		        		{$info.pdr_payment_time|date="Y-m-d H:i:s",###}
		        	</if>
		          {$info.member_name}
		        </div>
		      </div>
		      <div class="am-g am-margin-top">
		        <div class="am-u-sm-4 am-u-md-2 am-text-right">第三方支付平台交易号：</div>
		        <div class="am-u-sm-8 am-u-md-10">
		          {$info.pdr_trade_sn}
		        </div>
		      </div>
          </if>
          <if condition="trim($info['pdr_admin']) neq ''">
          	<div class="am-g am-margin-top">
	            <div class="am-u-sm-4 am-u-md-2 am-text-right">操作管理员：</div>
	            <div class="am-u-sm-8 am-u-md-10">
	              {$info.pdr_admin}
	            </div>
	          </div>
          </if>
        </div>

      </div>
    </div>
    <if condition="!intval($info['pdr_payment_state'])">
	    <div class="am-margin">
	      <a href="__CONTROLLER__/rechargeEdit?id={$info.pdr_id}" id="submitBtn" class="am-btn am-btn-primary am-btn-xs">更改支付状态</a>
	    </div>
    </if>
  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </footer>
</div>
<!-- content end -->

</div>

<include file="Application/Common/Layout/foot.html" />