<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>买家中心</title>
<link href="__CSS__/base.css" rel="stylesheet" type="text/css">
<link href="__CSS__/member.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
var ALLWOOD_ROOT = "__ROOT__",
	ALLWOOD_HOST = "__HOST__",
   	ALLWOOD_JS = "__JS__";
</script>
<script type="text/javascript" src="__JS__/sea.js"></script>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/config.js"></script>
<style type="text/css">
html{overflow:hidden;}
body{background-color:#fff;}
</style>
</head>
<body>