<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{:C('site_name')}</title>
    <meta name="keywords" content="全木行,全木行官网,家具免息分期,精品家具,家具分期，allwood" />
    <meta name="keywords" content="深圳市全木行电子商务服务有限公司，隶属深圳市特速实业集团，自创立时起就致力于为精品家具生产商、供应商、经销商和消费者创造一个全面丰富、高端精致的家具展示平台。凭借优秀的家具免息分期服务和全新O2O服务模式，让各家具品牌商和广大消费者可以无缝沟通，便捷交易。" />
    <link href="__CSS__/base.css" rel="stylesheet" type="text/css">
    <style type="text/css">
		html{height:auto;overflow:hidden;}
		body{background-color:#fff;}
	</style>
    {//--添加头部引入css文件--}
    <block name="head_css"></block>
    <script type="text/javascript">
		var ALLWOOD_ROOT = "__ROOT__",
			ALLWOOD_HOST = "__HOST__",
        	ALLWOOD_JS = "__JS__";
    </script>
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/sea.js"></script>
    <script type="text/javascript" src="__JS__/config.js"></script>
</head>
<body>
{//--内容--}
<block name="content"></block>

{//--底部js--}
<block name="my_js"></block>
</body>
</html>