<div class="wrapper search-wrapper floor-template mt60">
     <notempty name='goods_list'>  
     <?php if($_GET['brand_id']||$_GET['attr_value_id']){?>       
     <dl class="b-style cf"><dt><a href="<?php echo U('Search/index',array('keyword'=>$_GET['keyword'],'cate_id'=>$_GET['cate_id']))?>">显示全部</a></dt></dl>
     <?php }?>
    <notempty name='brand_list'>
        <dl class="b-style cf brand">
            <dt>品牌：</dt>
            <dd class="fname js-fname" ismultiple="no">
              <volist name='brand_list' id='v'>  
                  <a href="{:U('Search/index',array('keyword'=>$_GET['keyword'],'cate_id'=>$_GET['cate_id'],'brand_id'=>$v['brand_id'],'attr_value_id'=>$_GET['attr_value_id'],'orderBy'=>$_GET['orderBy']))}"  <?php if($_GET['brand_id']==$v['brand_id']||in_array($v['brand_id'],$arr_strBid)) echo "class='choose'";?>  data-bid="{$v['brand_id']}"><i></i> {$v.brand_name}</a>
              </volist>  
            
            </dd>
            <form method="get" name="brandForm" action="{:U('Search/index',array('keyword'=>$_GET['keyword'],'cate_id'=>$_GET['cate_id']))}">
                <input type="hidden" name="strBid" class="js-strBid" />
                <input type="hidden" name="brandFormSubmit" value="ok"/>
            <dd class="s-btn cf js-sBtn">
                <a href="javascript:void(0)" class="choose-ok js-choose-ok">确定</a>
                <a href="javascript:void(0)" class="choose-cancel ml10 js-choose-cancel">取消</a>
            </dd>
            </form>
            <dd class="fmore fr">
                <a href="javascript:void(0)" class="choose-more js-choose-more">多选</a>
                <a href="javascript:void(0)" class="mores js-mores">更多<i></i></a>
            </dd>
            
        </dl>
    </notempty>    
    <volist name='attr_list' id='v'>
        <dl class="b-style cf">
        	<dt>{$v['attr_name']}：</dt>
            <dd class="fname js-fname" ismultiple="no">
              <volist name='v.attr_value' id='av'>  
                  <a href="{:U('Search/index',array('keyword'=>$_GET['keyword'],'cate_id'=>$_GET['cate_id'],'brand_id'=>$_GET['brand_id'],'attr_value_id'=>$av['attr_value_id'],'orderBy'=>$_GET['orderBy']))}" <?php if($_GET['attr_value_id']==$av['attr_value_id']) echo "class='choose'";?>><i></i> {$av.attr_value_name}</a>
              </volist>  
            </dd>
        </dl> 
    </volist>    
    <dl class="b-style mt30 cf">
        <dt>综合排序：</dd>
        <dd class="b-sort">
            <a href="{:U('Search/index', array('cate_id'=>$_GET['cate_id'],'brand_id'=>$_GET['brand_id'],'attr_value_id'=>$_GET['attr_value_id'],
               'orderBy'=>'salenum_asc'))}" title="点击按销量从高到低排序" class="js-salenum" id="sale">销量<i class="desc"></i>
            </a>
            <a href="{:U('Search/index', array('cate_id'=>$_GET['cate_id'],'brand_id'=>$_GET['brand_id'],'attr_value_id'=>$_GET['attr_value_id'],
               'orderBy'=>'goods_click_asc'))}" title="点击按人气从高到低排序" class="js-popularity" id="goods_click">人气<i class="desc"></i>
            </a>
            <a href="{:U('Search/index', array('cate_id'=>$_GET['cate_id'],'brand_id'=>$_GET['brand_id'],'attr_value_id'=>$_GET['attr_value_id'],
		'orderBy'=>'goods_time_asc'))}" title="点击按价格从高到低排序" class="js-price" id='goods_time'>上新<i class="desc"></i>
            </a>
        </dd>
    </dl>
    <ul class="pro-list mt30 cf">
        <volist name='goods_list' id='k'>
            <li>
                <a href="/index.php?a=shop&c=goods&a=index&goods_id=<?php echo $k['goods_id']; ?>" title="">
                    <div class="goods-pic">             
                        <img src="{:thumb($k, 240);}" alt="" />
                    </div>
                    <div class="goods-info">
                        <p class="name">{$k['goods_name']}</p>
                        <p class="cor-9">分期</p>
                    </div>
                </a>
            </li>
        </volist>
    </ul>
    <div id="jspage" class="jspage">
        <?php echo $page ?>
    </div>    
    <else/>
    <div class="no_goods cf">
        <div class="no_goods_left">
            <h2>对不起！</h2>
            <p>OH! sorry!</p>
            <p>很抱歉，没有找到您要的商品。</p>
            <p class="go_back_p">
                <a href="javascript:history.back();">返回上一页</a>
                <a href="/">返回首页</a>
            </p>
        </div>
        <div class="no_goods_right">
            <img src="__IMG__/noresult.png">
        </div>
    </div>
    </notempty> 
</div>
<?php if(trim($_GET['keyword'])!=''){?>
<input type="hidden" id="sort_url" value="/index.php?m=shop&c=Search&a=index&keyword=<?php echo $_GET['keyword']?>&brand_id=<?php echo $_GET['brand_id']?>&attr_value_id=<?php echo $_GET['attr_value_id']?>" />
<?php }else{?>
<input type="hidden" id="sort_url" value="<?php echo U('Search/index', array('cate_id'=>$_GET['cate_id'],'brand_id'=>$_GET['brand_id'],'attr_value_id'=>$_GET['attr_value_id']))?>" />
<?php }?>
<script type="text/javascript">
(function($){
	define("search/goodslist",function(require, exports, module){
		var sort_url=$("#sort_url").val();
		var Module = {
			init: function(){
				 /*
                **更多
                */
                $(".js-mores").click(function(){
					var me = $(this),
						$dl = me.closest("dl"),
						$fname = $(".js-fname", $dl);
					if(me.hasClass("pack")){
						me.removeClass("pack").html("更多<i></i>");
						$fname.css("height", "30px");
					}else{
						me.addClass("pack").html("收起<i></i>");
						$fname.css("height", "auto");
					}
				});
                /*
                **多选
                */
                $(".js-choose-more").click(function(){
					var me = $(this),
						$dl = me.closest("dl"),
						$fname = $(".js-fname", $dl);
                    me.addClass("choose-more-active");
					$fname.css("height", "auto").attr("ismultiple", "yes").find("i").addClass("iactive1");
					$(".js-mores", $dl).addClass("pack").html("收起<i></i>");
                    $(".js-sBtn", $dl).show();
                    if($(".brand").find('a').hasClass('choose')){
                       // $(".brand").find('a').removeClass('choose');
                       $(".brand").find('a.choose').addClass('remove-choose');
                    }
                });
                $(".js-fname a").click(function(){
                    var me = $(this),
                        $dd = me.closest("dd");
                    if($dd.attr("ismultiple") == "yes"){
                        if($("i", this).hasClass("iactive2")){
                            $("i", this).removeClass("iactive2");
                        }else{
                            $("i", this).addClass("iactive2");
                        }
                        return false;
                    }else{
                       // window.location = $(this).attr("href");
                    }
                });
                /*
                **确定
                */
                $('.js-choose-ok').click(function(){
                    var me = $(this),
                        $dl = me.closest("dl"),
                        msg = $("dt", $dl).text().replace("：", ""),
                        arr = [];
                        $(".js-fname a", $dl).each(function(){
                            if($("i", this).hasClass("iactive2")){
                                var bid = $(this).data("bid");
                                arr.push(bid);
                            }
                       });
                       $(".js-strBid", $dl).val(arr.join(","))
                       if(arr.length == 0){
                            $.wrongMsg("请选择" + msg);
                            return false;
                       }
                       $("form", $dl).submit();
                });
				/*
                **取消
                */
                $(".js-choose-cancel").click(function(){
					var me = $(this),
						$dl = me.closest("dl"),
						$fname = $(".js-fname", $dl);
					$fname.css("height", "30px").attr("ismultiple", "no").find("i").removeClass("iactive1 iactive2");
					$(".js-mores", $dl).removeClass("pack").html("更多<i></i>");
					$(".js-sBtn", $dl).hide();
					$(".js-choose-more", $dl).removeClass('choose-more-active');
                    if($(".brand").find('a').hasClass('choose')){
                       $(".brand").find('a.choose').removeClass('remove-choose');
                    }
                });
                
                //排序
                var orderBy="<?php echo $_GET['orderBy']?>";
                order('sale','salenum_asc','salenum_desc');
                order('goods_click','goods_click_asc','goods_click_desc');
                order('goods_time','goods_time_asc','goods_time_desc');
                
                function order(a,asc,desc){
                   var sale=$("#"+a);
                   var order="<?php echo $_GET['orderBy']?>";
                   if(order==asc){
                       sale.find('i').addClass("asc");
                       sale.attr("href",sort_url+"&orderBy="+desc);
                   }else{
                       sale.find('i').addClass("desc");
                       sale.attr("href",sort_url+"&orderBy="+asc);
                   }
               }
            }
        }
        module.exports = Module;
    });
    seajs.use("search/goodslist", function(module){
        module.init();
    });
})($);
</script>