    <p><span>'APP_USE_NAMESPACE' = </span>{:json_encode(C('APP_USE_NAMESPACE'))}</p>     
    <p><span>'APP_SUB_DOMAIN_DEPLOY' = </span>{:json_encode(C('APP_SUB_DOMAIN_DEPLOY'))}</p> 
    <p><span>'APP_SUB_DOMAIN_RULES' = </span>{:json_encode(C('APP_SUB_DOMAIN_RULES'))}</p>  
    <p><span>'APP_DOMAIN_SUFFIX' = </span>{:json_encode(C('APP_DOMAIN_SUFFIX'))}</p>     
    <p><span>'ACTION_SUFFIX' = </span>{:json_encode(C('ACTION_SUFFIX'))}</p>         
    <p><span>'MULTI_MODULE' = </span>{:json_encode(C('MULTI_MODULE'))}</p>          
    <p><span>'MODULE_DENY_LIST' = </span>{:json_encode(C('MODULE_DENY_LIST'))}</p>      
    <p><span>'CONTROLLER_LEVEL' = </span>{:json_encode(C('CONTROLLER_LEVEL'))}</p>      
    <p><span>'APP_AUTOLOAD_LAYER' = </span>{:json_encode(C('APP_AUTOLOAD_LAYER'))}</p>    
    <p><span>'APP_AUTOLOAD_PATH' = </span>{:json_encode(C('APP_AUTOLOAD_PATH'))}</p>     
    <p><span>'COOKIE_EXPIRE' = </span>{:json_encode(C('COOKIE_EXPIRE'))}</p>         
    <p><span>'COOKIE_DOMAIN' = </span>{:json_encode(C('COOKIE_DOMAIN'))}</p>         
    <p><span>'COOKIE_PATH' = </span>{:json_encode(C('COOKIE_PATH'))}</p>           
    <p><span>'COOKIE_PREFIX' = </span>{:json_encode(C('COOKIE_PREFIX'))}</p>         
    <p><span>'COOKIE_SECURE' = </span>{:json_encode(C('COOKIE_SECURE'))}</p>         
    <p><span>'COOKIE_HTTPONLY' = </span>{:json_encode(C('COOKIE_HTTPONLY'))}</p>       
    <p><span>'DEFAULT_M_LAYER' = </span>{:json_encode(C('DEFAULT_M_LAYER'))}</p>       
    <p><span>'DEFAULT_C_LAYER' = </span>{:json_encode(C('DEFAULT_C_LAYER'))}</p>       
    <p><span>'DEFAULT_V_LAYER' = </span>{:json_encode(C('DEFAULT_V_LAYER'))}</p>       
    <p><span>'DEFAULT_LANG' = </span>{:json_encode(C('DEFAULT_LANG'))}</p>          
    <p><span>'DEFAULT_THEME' = </span>{:json_encode(C('DEFAULT_THEME'))}</p>         
    <p><span>'DEFAULT_MODULE' = </span>{:json_encode(C('DEFAULT_MODULE'))}</p>        
    <p><span>'DEFAULT_CONTROLLER' = </span>{:json_encode(C('DEFAULT_CONTROLLER'))}</p>    
    <p><span>'DEFAULT_ACTION' = </span>{:json_encode(C('DEFAULT_ACTION'))}</p>        
    <p><span>'DEFAULT_CHARSET' = </span>{:json_encode(C('DEFAULT_CHARSET'))}</p>       
    <p><span>'DEFAULT_TIMEZONE' = </span>{:json_encode(C('DEFAULT_TIMEZONE'))}</p>      
    <p><span>'DEFAULT_AJAX_RETURN' = </span>{:json_encode(C('DEFAULT_AJAX_RETURN'))}</p>   
    <p><span>'DEFAULT_JSONP_HANDLER' = </span>{:json_encode(C('DEFAULT_JSONP_HANDLER'))}</p> 
    <p><span>'DEFAULT_FILTER' = </span>{:json_encode(C('DEFAULT_FILTER'))}</p>        
    <p><span>'DB_TYPE' = </span>{:json_encode(C('DB_TYPE'))}</p>               
    <p><span>'DB_HOST' = </span>{:json_encode(C('DB_HOST'))}</p>               
    <p><span>'DB_NAME' = </span>{:json_encode(C('DB_NAME'))}</p>               
    <p><span>'DB_USER' = </span>{:json_encode(C('DB_USER'))}</p>               
    <p><span>'DB_PWD' = </span>{:json_encode(C('DB_PWD'))}</p>                
    <p><span>'DB_PORT' = </span>{:json_encode(C('DB_PORT'))}</p>               
    <p><span>'DB_PREFIX' = </span>{:json_encode(C('DB_PREFIX'))}</p>             
    <p><span>'DB_PARAMS' = </span>{:json_encode(C('DB_PARAMS'))}</p>             
    <p><span>'DB_DEBUG' = </span>{:json_encode(C('DB_DEBUG'))}</p>              
    <p><span>'DB_FIELDS_CACHE' = </span>{:json_encode(C('DB_FIELDS_CACHE'))}</p>       
    <p><span>'DB_CHARSET' = </span>{:json_encode(C('DB_CHARSET'))}</p>            
    <p><span>'DB_DEPLOY_TYPE' = </span>{:json_encode(C('DB_DEPLOY_TYPE'))}</p>        
    <p><span>'DB_RW_SEPARATE' = </span>{:json_encode(C('DB_RW_SEPARATE'))}</p>        
    <p><span>'DB_MASTER_NUM' = </span>{:json_encode(C('DB_MASTER_NUM'))}</p>         
    <p><span>'DB_SLAVE_NO' = </span>{:json_encode(C('DB_SLAVE_NO'))}</p>           
    <p><span>'DATA_CACHE_TIME' = </span>{:json_encode(C('DATA_CACHE_TIME'))}</p>       
    <p><span>'DATA_CACHE_COMPRESS' = </span>{:json_encode(C('DATA_CACHE_COMPRESS'))}</p>   
    <p><span>'DATA_CACHE_CHECK' = </span>{:json_encode(C('DATA_CACHE_CHECK'))}</p>      
    <p><span>'DATA_CACHE_PREFIX' = </span>{:json_encode(C('DATA_CACHE_PREFIX'))}</p>     
    <p><span>'DATA_CACHE_TYPE' = </span>{:json_encode(C('DATA_CACHE_TYPE'))}</p>       
    <p><span>'DATA_CACHE_PATH' = </span>{:json_encode(C('DATA_CACHE_PATH'))}</p>       
    <p><span>'DATA_CACHE_KEY' = </span>{:json_encode(C('DATA_CACHE_KEY'))}</p>        
    <p><span>'DATA_CACHE_SUBDIR' = </span>{:json_encode(C('DATA_CACHE_SUBDIR'))}</p>     
    <p><span>'DATA_PATH_LEVEL' = </span>{:json_encode(C('DATA_PATH_LEVEL'))}</p>       
    <p><span>'ERROR_MESSAGE' = </span>{:json_encode(C('ERROR_MESSAGE'))}</p>         
    <p><span>'ERROR_PAGE' = </span>{:json_encode(C('ERROR_PAGE'))}</p>            
    <p><span>'SHOW_ERROR_MSG' = </span>{:json_encode(C('SHOW_ERROR_MSG'))}</p>        
    <p><span>'TRACE_MAX_RECORD' = </span>{:json_encode(C('TRACE_MAX_RECORD'))}</p>      
    <p><span>'LOG_RECORD' = </span>{:json_encode(C('LOG_RECORD'))}</p>            
    <p><span>'LOG_TYPE' = </span>{:json_encode(C('LOG_TYPE'))}</p>              
    <p><span>'LOG_LEVEL' = </span>{:json_encode(C('LOG_LEVEL'))}</p>             
    <p><span>'LOG_FILE_SIZE' = </span>{:json_encode(C('LOG_FILE_SIZE'))}</p>         
    <p><span>'LOG_EXCEPTION_RECORD' = </span>{:json_encode(C('LOG_EXCEPTION_RECORD'))}</p>  
    <p><span>'SESSION_AUTO_START' = </span>{:json_encode(C('SESSION_AUTO_START'))}</p>    
    <p><span>'SESSION_OPTIONS' = </span>{:json_encode(C('SESSION_OPTIONS'))}</p>       
    <p><span>'SESSION_TYPE' = </span>{:json_encode(C('SESSION_TYPE'))}</p>          
    <p><span>'SESSION_PREFIX' = </span>{:json_encode(C('SESSION_PREFIX'))}</p>        
    <p><span>'VAR_SESSION_ID' = </span>{:json_encode(C('VAR_SESSION_ID'))}</p>      
    <p><span>'TMPL_CONTENT_TYPE' = </span>{:json_encode(C('TMPL_CONTENT_TYPE'))}</p>     
    <p><span>'TMPL_ACTION_ERROR' = </span>{:json_encode(C('TMPL_ACTION_ERROR'))}</p>     
    <p><span>'TMPL_ACTION_SUCCESS' = </span>{:json_encode(C('TMPL_ACTION_SUCCESS'))}</p>   
    <p><span>'TMPL_EXCEPTION_FILE' = </span>{:json_encode(C('TMPL_EXCEPTION_FILE'))}</p>   
    <p><span>'TMPL_DETECT_THEME' = </span>{:json_encode(C('TMPL_DETECT_THEME'))}</p>     
    <p><span>'TMPL_TEMPLATE_SUFFIX' = </span>{:json_encode(C('TMPL_TEMPLATE_SUFFIX'))}</p>  
    <p><span>'TMPL_FILE_DEPR' = </span>{:json_encode(C('TMPL_FILE_DEPR'))}</p>        
    <p><span>'TMPL_ENGINE_TYPE' = </span>{:json_encode(C('TMPL_ENGINE_TYPE'))}</p>      
    <p><span>'TMPL_CACHFILE_SUFFIX' = </span>{:json_encode(C('TMPL_CACHFILE_SUFFIX'))}</p>  
    <p><span>'TMPL_DENY_FUNC_LIST' = </span>{:json_encode(C('TMPL_DENY_FUNC_LIST'))}</p>   
    <p><span>'TMPL_DENY_PHP' = </span>{:json_encode(C('TMPL_DENY_PHP'))}</p>         
    <p><span>'TMPL_L_DELIM' = </span>{:json_encode(C('TMPL_L_DELIM'))}</p>          
    <p><span>'TMPL_R_DELIM' = </span>{:json_encode(C('TMPL_R_DELIM'))}</p>          
    <p><span>'TMPL_VAR_IDENTIFY' = </span>{:json_encode(C('TMPL_VAR_IDENTIFY'))}</p>     
    <p><span>'TMPL_STRIP_SPACE' = </span>{:json_encode(C('TMPL_STRIP_SPACE'))}</p>      
    <p><span>'TMPL_CACHE_ON' = </span>{:json_encode(C('TMPL_CACHE_ON'))}</p>         
    <p><span>'TMPL_CACHE_PREFIX' = </span>{:json_encode(C('TMPL_CACHE_PREFIX'))}</p>     
    <p><span>'TMPL_CACHE_TIME' = </span>{:json_encode(C('TMPL_CACHE_TIME'))}</p>       
    <p><span>'TMPL_LAYOUT_ITEM' = </span>{:json_encode(C('TMPL_LAYOUT_ITEM'))}</p>      
    <p><span>'LAYOUT_ON' = </span>{:json_encode(C('LAYOUT_ON'))}</p>             
    <p><span>'LAYOUT_NAME' = </span>{:json_encode(C('LAYOUT_NAME'))}</p>           
    <p><span>'TAGLIB_BEGIN' = </span>{:json_encode(C('TAGLIB_BEGIN'))}</p>          
    <p><span>'TAGLIB_END' = </span>{:json_encode(C('TAGLIB_END'))}</p>            
    <p><span>'TAGLIB_LOAD' = </span>{:json_encode(C('TAGLIB_LOAD'))}</p>           
    <p><span>'TAGLIB_BUILD_IN' = </span>{:json_encode(C('TAGLIB_BUILD_IN'))}</p>       
    <p><span>'TAGLIB_PRE_LOAD' = </span>{:json_encode(C('TAGLIB_PRE_LOAD'))}</p>       
    <p><span>'URL_CASE_INSENSITIVE' = </span>{:json_encode(C('URL_CASE_INSENSITIVE'))}</p>  
    <p><span>'URL_MODEL' = </span>{:json_encode(C('URL_MODEL'))}</p>             
    <p><span>'URL_PATHINFO_DEPR' = </span>{:json_encode(C('URL_PATHINFO_DEPR'))}</p>     
    <p><span>'URL_PATHINFO_FETCH' = </span>{:json_encode(C('URL_PATHINFO_FETCH'))}</p>    
    <p><span>'URL_REQUEST_URI' = </span>{:json_encode(C('URL_REQUEST_URI'))}</p>       
    <p><span>'URL_HTML_SUFFIX' = </span>{:json_encode(C('URL_HTML_SUFFIX'))}</p>       
    <p><span>'URL_DENY_SUFFIX' = </span>{:json_encode(C('URL_DENY_SUFFIX'))}</p>       
    <p><span>'URL_PARAMS_BIND' = </span>{:json_encode(C('URL_PARAMS_BIND'))}</p>       
    <p><span>'URL_PARAMS_BIND_TYPE' = </span>{:json_encode(C('URL_PARAMS_BIND_TYPE'))}</p>  
    <p><span>'URL_PARAMS_FILTER' = </span>{:json_encode(C('URL_PARAMS_FILTER'))}</p>     
    <p><span>'URL_PARAMS_FILTER_TYPE' = </span>{:json_encode(C('URL_PARAMS_FILTER_TYPE'))}</p>
    <p><span>'URL_ROUTER_ON' = </span>{:json_encode(C('URL_ROUTER_ON'))}</p>         
    <p><span>'URL_ROUTE_RULES' = </span>{:json_encode(C('URL_ROUTE_RULES'))}</p>       
    <p><span>'URL_MAP_RULES' = </span>{:json_encode(C('URL_MAP_RULES'))}</p>         
    <p><span>'VAR_MODULE' = </span>{:json_encode(C('VAR_MODULE'))}</p>            
    <p><span>'VAR_ADDON' = </span>{:json_encode(C('VAR_ADDON'))}</p>             
    <p><span>'VAR_CONTROLLER' = </span>{:json_encode(C('VAR_CONTROLLER'))}</p>        
    <p><span>'VAR_ACTION' = </span>{:json_encode(C('VAR_ACTION'))}</p>            
    <p><span>'VAR_AJAX_SUBMIT' = </span>{:json_encode(C('VAR_AJAX_SUBMIT'))}</p>       
    <p><span>'VAR_JSONP_HANDLER' = </span>{:json_encode(C('VAR_JSONP_HANDLER'))}</p>     
    <p><span>'VAR_PATHINFO' = </span>{:json_encode(C('VAR_PATHINFO'))}</p>          
    <p><span>'VAR_TEMPLATE' = </span>{:json_encode(C('VAR_TEMPLATE'))}</p>          
    <p><span>'VAR_AUTO_STRING' = </span>{:json_encode(C('VAR_AUTO_STRING'))}</p>       
    <p><span>'HTTP_CACHE_CONTROL' = </span>{:json_encode(C('HTTP_CACHE_CONTROL'))}</p>    
    <p><span>'CHECK_APP_DIR' = </span>{:json_encode(C('CHECK_APP_DIR'))}</p>         
    <p><span>'FILE_UPLOAD_TYPE' = </span>{:json_encode(C('FILE_UPLOAD_TYPE'))}</p>      
    <p><span>'DATA_CRYPT_TYPE' = </span>{:json_encode(C('DATA_CRYPT_TYPE'))}</p>       
