<include file="Application/Common/Layout/head.html" /> 
<div class="am-cf admin-main">
<include file="Application/Common/Layout/left.html" /> 
  <!-- content start -->
  <div class="admin-content">
    <style>
    .btn{
    color:red;
    }
    </style>
    <p><?php echo date('Y-m-d H:i:s',$last_update['time']); ?></p>
    <table border="1">
      <tr style="color:red;background:green">
        <th style="width:20%">goods_id</th>
        <th style="width:20%">goods_name</th>
        <th style="width:20%">goods_commonid</th>
      </tr>
    <?php foreach ($list as $key => $value) { ?>
      <tr>
        <td><?php echo $value['goods_id']; ?></td>
        <td><?php echo $value['goods_name']; ?></td>
        <td><?php echo $value['goods_commonid']; ?></td>
      </tr>        
    <?php } ?>
    </table>
      <form method="POST">
      <input type="hidden" name='form_submit' value="ok">
      <input type="submit" name='submit' class='btn' value="change">
      </form>
  </div>
  <!-- content end -->
</div>
<include file="Application/Common/Layout/foot.html" /> 


 
