<include file="Application/Common/Layout/head.html" /> 
<div class="am-cf admin-main">
<include file="Application/Common/Layout/left.html" /> 
<!-- content start -->
<div class="admin-content">
    <style>
    .btn{
    color:red;
    }
    </style>
    <p><?php echo date('Y-m-d H:i:s',$last_update['time']); ?></p>
    <table border="1">
        <tr style="color:red;background:green">
            <th style="width:20%">goods_commonid</th>
            <th style="width:20%">goods_name</th>
            <th style="width:20%">is_offline_goods</th>
            <th style="width:20%">is_offline_goods_common</th>
        </tr>
    <?php foreach ($list as $key => $value) { ?>
        <tr>
            <td><?php echo $value['goods_commonid']; ?></td>
            <td><?php echo $value['goods_name']; ?></td>
            <td><?php echo $value['is_offline_goods']; ?></td>
            <td><?php echo $value['is_offline_goods_common']; ?></td>
        </tr>        
    <?php } ?>
    </table>
    <form method="POST">
    <input type="hidden" name='form_submit' value="ok">
    <input type="submit" name='submit' class='btn' value="change">
    </form>
</div>
<!-- content end -->
</div>
<include file="Application/Common/Layout/foot.html" /> 