<extend name="Layouts:home" />
<block name="title"><title>定制专区-{:C('site_name')}</title></block>
<block name="head_css">
<link href="__CSS__/customerize.css" rel="stylesheet" type="text/css">
</block>

<block name="content">
<div class="customerize">
    <div class="customerize-floor1">
        <div class="floor-content">
            <dl>
                <dt>
                    01<br><br><span>免费预约</span>设计师
                </dt>
            </dl>
        </div>
    </div>
    <div class="customerize-floor2">
        <div class="floor-content">
            <dl>
                <dt>
                    02<br><br>约定时间&nbsp;设计师免费<span>上门量尺</span>
                </dt>
                <dd>
                    1 对 1 专属服务，不收取任何费用
                </dd>
            </dl>
        </div>
    </div>
    <div class="customerize-floor3">
        <div class="floor-content">
            <dl>
                <dt>
                    03<br><br>设计师&nbsp;免费<span>出效果图</span>
                </dt>
                <dd>
                    根据用户需求及户型特点，量身定制家具，不浪费毫厘空间
                </dd>
            </dl>
        </div>
    </div>
    <div class="customerize-floor4">
        <div class="floor-content">
            <dl>
                <dt>
                    04<br><br>确定方案&nbsp;送货<span>上门安装</span>
                </dt>
                <dd>
                    专业的物流团队，为您省心、省时、省力
                </dd>
            </dl>
        </div>
    </div>
</div>
</block>
