<include file="Application/Common/Layout/head.html" /> 
<div class="am-cf admin-main">
<include file="Application/Common/Layout/left.html" /> 

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">银行配置</strong> / <small>Bank</small></div>
      </div>

      <hr>
     <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button onclick="window.location='/Admin/Setting/banklist?act=add'" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span>新增</button>
            </div>
          </div>
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
 
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <!--<th class="table-check"><input type="checkbox" /></th>-->
				<th class="table-id">ID</th>
				<th class="table-title" width="15%">银行名称</th>
				<th class="table-author am-hide-sm-only">状态</th>
				<th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
			  <volist name="bank" id="b">
              <tr>
                <!--<td><input type="checkbox" /></td>-->
                <td>{$i}</td>
                <td><a href="javascript:;">{$b.bankname}</a></td>
                <td class="am-hide-sm-only">
					<eq name="b.state" value='1'>开启<else/><font color='#ccc'>关闭</font></eq>
				</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <button onclick="window.location='/Admin/Setting/banklist?act=edit&id={$b.bank_id}'" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
					   <button onclick="window.location='/Admin/Setting/banklist?act=del&id={$b.bank_id}'" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
					</div>
                  </div>
                </td>
              </tr>
			</volist>
			  
              
              </tbody>
            </table>
			
            <div class="am-cf">
            系统内置的快递公司不得删除，只可编辑状态，平台可禁用不需要的快递公司，常用的快递公司将会排在靠前位置。
               
            </div>
            <hr />
     
        </div>

      </div>
    </div>
 

  </div>
  <!-- content end -->
</div>
<include file="Application/Common/Layout/foot.html" /> 