<extend name="Layouts:member" />
<block name="title"><title>订单详情-买家中心-{:C('site_name')}</title></block>

<block name="content">
<div class="order-info fs14 mb10 js-orderDetail">
    <h2 class="order-tit">订单信息</h2>
    <div class="order-info-k cf">
        <div class="info fl">
            <ul class="order-list">
                <li class="cf">
                    <cite>订单号：</cite>
                    <?php echo $output['order_info']['order_sn']; ?>
                </li>
                <li class="cf">
                    <cite>下单时间：</cite>
                    <?php echo date('Y-m-d H:i:s', $output['order_info']['add_time']); ?>
                </li>
                <li class="cf">
                    <cite>付款方式：</cite>
                    <?php echo $output['order_info']['payment_name']; ?>
                </li>
                <li class="cf">
                    <cite>收货信息：</cite>
                    <?php echo @$output['order_info']['extend_order_common']['reciver_info']['address'];?><br />
                    <?php echo $output['order_info']['extend_order_common']['reciver_name'];
                    if (!empty($output['order_info']['extend_order_common']['reciver_info']['phone'])){ ?>
                        ，<?php echo @$output['order_info']['extend_order_common']['reciver_info']['phone'];
                    } ?>
                </li>
                <li class="cf">
                    <cite>买家留言：</cite>
                    <p class="js-buyerMessage"><?php echo $output['order_info']['extend_order_common']['order_message']; ?></p>
                    <a href="javascript:void(0);" class="cor-blue js-message">补充留言</a>
                </li>
                <li class="cf">
                    <cite>卖家：</cite>
                    <?php echo $output['order_info']['extend_store']['store_name']; ?>
                </li>
                <li class="cf">
                    <cite>在线客服：</cite>
                </li>
                <li class="cf">
                    <cite>客服电话：</cite>
                </li>
            </ul>
        </div>
        <div class="r">
            <div class="state mt20 cf">
                <i class="ic ic-prompt"></i>
                <?php switch ($output['order_info']['order_state']) {
                    case ORDER_STATE_MAKEPRICE:
                        ?>
                        <h3>订单状态：商品已拍下，等待卖家定价</h3>
                        <?php
                        break;
                    case ORDER_STATE_CANCEL:
                        ?>
                        <h3>订单状态：交易关闭</h3>
                        <p class="mt10">
                            关闭类型：<?php echo $output['order_log']['log_role'];?>已取消订单
                        </p>
                        <p class="mt10">
                            原因：<?php echo $output['order_log']['log_msg']; ?>
                        </p>
                        <?php
                        break;
                    case ORDER_STATE_NEW:
                        ?>
                        <h3>订单状态：商品已拍下，等待买家付款</h3>
                        <p class="mt40">
                            <a href="{:U('Shop/Buy/checkprice', array('pay_sn' => $output['order_info']['pay_sn']))}" class="btn btn-info">立即付款</a>
                            <a href="javascript:void(0);" class="btn btn-cancel ml20 js-cancel">取消订单</a>
                        </p>
                        <?php
                        break;
                    case ORDER_STATE_PAY:?>
                            <h3>订单状态：交易完成</h3>
                        <?php
                        break;
                    case ORDER_STATE_HANDLING:
                        ?>
                        <h3>订单状态：平台处理中</h3>
                        <p class="mt10">乐购分期订单处理中，将在
                            <?php
                            $date = date("H:i:s", $output['order_info']['add_time']);
                            if($date> '00:00:00' && $date < '08:29:59'){
                                echo '当天10点';
                            }elseif($date> '09:00:00' && $date < '18:29:59'){
                                echo date('H:i:s', $output['order_info']['add_time'] + 3600 * 2);
                            }else{
                                echo '第二天10点';
                            }
                            ?>
                            前处理完成。</p>
                        <?php
                        break;
                }?>
            </div>
        </div>
    </div>
</div>
<include file="Layouts:order_goods"/>
</block>

<block name="my_js">
<script type="text/javascript">
    seajs.use("m/orderdetail");
</script>
</block>