<extend name="Layouts:login" />
<block name="title"><title>找回密码-{:C('site_name')}</title></block>

<block name="content">
<div class="find-password-box">
	<div class="reg-title cf js-regTitle">
        <span class="cur"><em>1</em>验证身份</span>
        <span><em>2</em>重置密码</span>
        <span><em>3</em>重置成功</span>
    </div>
    <div class="reg-section">
    	<!-- 
        ----------验证身份
        -->
        <form action="javascript:void(0);" id="checkForm" class="reg-form js-register" method="post" autocomplete="off">
            <ul class="inp-box mt50">
            	<li class="line">
                	 <label class="long-inp ic-phone js-phone"><input type="text" id="mobile" name="mobile" class="text js-number" placeholder="请输入您的手机号码" maxlength="11" required check-phone /></label>
                    <span show="mobile.check" class="error-msg">
                        <em class="errow-arrow"></em>
                        请输入正确的手机号码
                    </span>
                </li>
                <li class="line cf">
                    <label class="short-inp ic-vcode fl"><input type="text" id="code" name="code" class="text js-number" maxlength="6" placeholder="请输入短信验证码" required /></label>
                    <a href="javascript:void(0);" class="red-btn fr disable-btn js-sendCode">点击获取验证码</a>
                    <span show="code.check" class="error-msg">
                        <em class="errow-arrow"></em>
                        请输入正确的验证码
                    </span>
                </li>
            </ul>
            <p class="mt10"><input type="submit" class="orange-btn mt5 js-nextBtn" value="下一步" /></p>
		</form>
        <!-- 
        ----------重置密码
        -->
        <form action="javascript:void(0);" id="resetForm" class="reset-form js-register dis-none" method="post" autocomplete="off">
        	<p class="notice"><i class="ic-succ"></i>验证已通过，您可以设置新的密码！</p>
        	<ul class="reset-ul">
                <li class="cf">
                	<label class="handle" for="password">新密码：</label>
                    <div class="rel">
                    	<input type="password" id="password" name="password" class="text" maxlength="16" value='' placeholder="6-16位字母和数字组合" required />
                        <span show="password.check" class="error-msg">
                            <em class="errow-arrow"></em>
                            请输入新密码
                        </span>
                    </div>
                </li>
                <li class="cf">
                	<label class="handle" for="repasswd">确认密码：</label>
                    <div class="rel">
                    	<input type="password" id="repasswd" name="re_password" class="text" maxlength="16" value='' placeholder="6-16位字母和数字组合" required />
                        <span show="re_password.check" class="error-msg">
                            <em class="errow-arrow"></em>
                            请输入确认密码
                        </span>
                    </div>
                </li>
                <li class="mt10 cf">
                	<label class="handle">&nbsp;</label>
                    <input type="submit" class="orange-btn js-submitBtn" value="确认" />
                </li>
            </ul>
        </form>
        <!-- 
        ----------重置成功
        -->
		<div class="reg-succ js-register dis-none">
			<p><img src="__IMG__/large_ok.png" width="102" height="102" alt="成功图标" /></p>
            <h3 class="mt10">恭喜您：重置密码成功，请牢记新的密码！</h3>
            <p><a href="__ROOT__/shop/login" class="orange-btn">立即登录吧</a></p>
            <p><a href="/" class="fs20">还是先去购物吧&gt;</a></p>
        </div>
    </div>
</div>
</block>

<block name="my_js">
<script type="text/javascript">
(function($){
	define("web/findpassword",function(require, exports, module){
		require("jquery/layer");
		require("jquery/form");
		var isSendCode = false, //手机验证码是否发送
			isUsername = false, //账号是否存在
			countnum = 120, //时间 
			timeInterval = null;
		var manage = require("com/manage");
		var Module = {
			init: function(){
				var checkForm = $("#checkForm").form(),
					resetForm = $("#resetForm").form();
				/*
				*用户名验证
				**/
				$(".js-phone").on("focus", "input", function(){
					layer.closeAll("tips");
				}).on("blur", "input", function(){
					var me = $(this),
						val = me.val();
					if(!val || !$.isTelephone(val)){
						$(".js-sendCode").addClass("disable-btn");
						return;
					}
					Module.checkUsername();
				});
				/*
				*发送验证码
				**/
				$(".js-sendCode").click(function(){
					var me = $(this),
						mobile = $("#mobile").val();
					if(!mobile || !$.isTelephone(mobile)){
						$(".js-phone").siblings(".error-msg").show();
						return;
					}
					if(!isUsername || me.hasClass("disable-btn")) return;
					//账号校验通过,执行发送验证码操作
					me.addClass("disable-btn");
					$.post(gConfig.apiurl + "/index.php?c=login&a=verify_code",{
						mobile	: mobile,
						tag		: "resetpassword"
					}, function (result) {
						isSendCode = true;
						Module.countdown();
					},"json");
				});
				/*
				*下一步按钮
				**/
				$(".js-nextBtn").click(function(){
					if(!checkForm.valid()) return false;
					if(!isUsername) return;
					var me = $(this),
						mobile = $.trim($("#mobile").val()),
						code = $.trim($("#code").val()),
						data = $("#checkForm").serialize();
					data = manage.serializeJson(data);
					if(!mobile || !$.isTelephone(mobile)){
						$.wrongMsg("请输入正确的手机号码");
						return;
					}
					if(code.length != 6){
						$.wrongMsg("请输入完整的验证码");
						return;
					}
					var pid = parent.layer.load(360);
					$.ajax({
						type:'POST',
						url: gConfig.apiurl + "/index.php?c=login&a=check_usersave",
						data: data,
						success:function(result){
							parent.layer.close(pid);
							var message = result.message || "验证失败"
							if(result.code == 1){ //验证成功
								$(".js-regTitle span:eq(1)").addClass("cur").siblings("span").removeClass("cur");
								$(".js-register:eq(1)").show().siblings(".js-register").hide();
							}else{
								$.wrongMsg(message);
							}
						}
					});
				});
				/*
				*确定按钮
				**/
				$(".js-submitBtn").click(function(){
					if(!resetForm.valid()) return false;
					var me = $(this),
						mobile = $.trim($("#mobile").val()),
						password = $.trim($("#password").val()),
						repasswd = $.trim($("#repasswd").val());
					if(!mobile || !$.isTelephone(mobile)){
						$.wrongMsg("请输入正确的手机号码");
						return;
					}
					if(password.indexOf(" ") > -1) {
						$.wrongMsg("密码不能含有空格");
						return;
					}
					if(!(/[a-zA-Z]/.test(password) && /[0-9]/.test(password)) || (password.length < 6 || password.length > 18)){
						$.wrongMsg("密码应是6-18位的数字加字母组合");
						return;
					}
					if(password != repasswd){
						$.wrongMsg("两次输入的密码不一样，请重新输入");
						return;
					}
					var pid = parent.layer.load(360);
					$.ajax({
						url: gConfig.apiurl + "/index.php?c=login&a=forget_password",
						type: "POST",
						data:{
							mobile	: mobile,
							password: password
						},
						success:function(result){
							parent.layer.close(pid);
							//var result=eval("("+result+")");
							if(result.code == 1){
								$(".js-regTitle span:eq(2)").addClass("cur").siblings("span").removeClass("cur");
								$(".js-register:eq(2)").show().siblings(".js-register").hide();
							}else{
								$.wrongMsg("重置失败");
							}
						}
					});
				})
			},
			/*
			*验证用户名
			**/
			checkUsername: function(callback){
				var mobile = $.trim($("#mobile").val());
				$.ajax({
					url: gConfig.apiurl + "/index.php?c=login&a=check_and_exist&column=ok",
					type: "GET",
					dataType: "json",
					async: false,
					data: {
						mobile		: mobile,
						key			: mobile,
						member_name	: mobile
					},
					success: function (result) {
						var result = result || {},
							resultText = result.resultText || {};
						if(result.code > 0) {
							isUsername = true;
							if(!isSendCode){
								$(".js-sendCode").removeClass("disable-btn");
							}
						}else{
							isUsername = false;
							$(".js-sendCode").addClass("disable-btn");
							$.wrongTip(".js-phone", resultText.message || "账号不存在", 4, 99999999);
						}
					},
					error: function(){
						$.wrongMsg("网络异常")
					}
				});
			},
			countdown: function(){
				clearInterval(timeInterval);
				timedown();
				timeInterval = setInterval(timedown, 1000);
				function timedown(){
					if(countnum == 0){
						$(".js-sendCode").text("重新发送");
						if(isUsername) $(".js-sendCode").removeClass("disable-btn");
						countnum = 120;
						isSendCode = false;
						clearInterval(timeInterval);
					}else{
						$(".js-sendCode").text("重新发送(" + countnum + 's' + ")").addClass("disable-btn");
						countnum--;
					}
				}
			}
		}
		module.exports = Module;
	});
	seajs.use("web/findpassword", function(module){
		module.init();
	});
})($);
</script> 
</block>