<extend name="Layouts:seller" />
<block name="title"><title>效果图-卖家中心-{:C('site_name')}</title></block>

<block name="content">
<div class="content-wrap">
	<h2 class="query-tit">效果图列表</h2>
	<div class="query-box mt10">
        <form action="{:U('Decorate/effectdraw')}" class="query-bar ml20" id="queryform" autocomplete="off" method="post">
            <p class="unit-line">
                <span class="unit">
                    <label class="label" for="title">效果图名称：</label>
                    <input type="text" id="title" name="title" class="text" value="<?php echo $search_title;?>" placeholder="请填写效果图名称" />
                </span>
                <button href="javascript:void(0);" class="btn btn-blue ml20 js-queryBtn">搜索</button>
            </p>
        </form>
    </div>
    <div class="tab-cont">
    	<p class="table-top fs14 cf js-tableTop">
        	<span style="text-align:left;">
            	<label class="ml10"><input type="checkbox" class="v-2 mr5 js-allCheck" />全选</label>
                <a href="javascript:void(0);" class="cor-blue ml20 js-batchDel">删除</a>
            </span>
            <span style="width:60%;padding-left:10%;text-align:left;">标题</span>
            <span style="width:102px">操作</span>
        </p>
        <table class="table" width="100%">
            <colgroup>
                <col width="23px" />
                <col width="70%" />
                <col width="" />
            </colgroup>
        	<tbody>
                <?php if (!empty($effectdraw_list)){
                    foreach ($effectdraw_list as $draw){
                        $coverpage = unserialize($draw['pic']);
                        ?>
                        <tr data-id="<?php echo $draw['draw_id'];?>">
                            <td style="text-align:right;border-right:none 0;"><input type="checkbox" class="v-mid js-check" /></td>
                            <td style="border-left:none 0;">
                                <div class="goods-td cf">
                                    <a href="javascript:void(0);" class="pic"><img width="60px" height="60px" alt="" src="<?php echo $coverpage['s_pic'];?>"></a>
                                    <p class="h60"><a class="cor-blue" href="<?php echo U('Decorate/effectdrawOperate',array('id'=>$draw['draw_id']));?>"><?php echo $draw['title'];?></a></p>
                                </div>
                            </td>
                            <td>
                                <a href="<?php echo U('Decorate/effectdrawOperate',array('id'=>$draw['draw_id']));?>" class="link">编辑</a>
                                <a class="link js-del" href="javascript:void(0);">删除</a>
                            </td>
                        </tr>
				 	<?php }
				 }?>
            </tbody>
        </table>
        <div id="jspage" class="jspage">
            <?php echo $show_page;?>
        </div>
    </div>
</div>
<input type="hidden" id="deleteUrl" value="/Decorate/deEffectdraw" data-msg="效果图" />
</block>

<block name="my_js">
<script>
    seajs.use(["jquery/layer", "com/global"]);
</script>
</block>