<!--[if lt IE 9]>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{$tpl}assets/js/admin/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--注释3.1版本 <script src="{$tpl}assets/js/jquery-3.1.0.min.js"></script>-->
<script src="__JS__/admin/amazeui.min.js"></script>
<script src="__JS__/admin/amazeui.dialog.min.js"></script>
<script src="__JS__/admin/app.js"></script>
<script src="__JS__/admin/jquery.fancybox.pack.js"></script>
<script src="__JS__/jquery/laydate/laydate.js"></script>
<script type="text/javascript">
$(document).ready(function() { $('.fancybox').fancybox();});
</script>
</body>
</html>