<extend name="Layouts:home"/>
<block name="title"><title>提交成功-{:C('site_name')}</title></block>
<block name="head_css">
<link rel="stylesheet" type="text/css" href="__CSS__/apply.css">
</block>

<block name="content">
<div class="wrapper mt140">
    <div class="easypay-waiting">
        <div class="tc">
            <h2>额度申请资料提交成功，资料审批中...</h2>
            <p>请保持手机畅通，我们的工作人员会电话联系核对相关信息。 </p>
            <p class="mt40"><a href="{:U('shop/TEasypay')}" class="cor-blue">返回分期中心</a></p>
       </div>
       <div class="bd mt10">
            <h3>常见FAQ</h3>
            <h4>1、审批流程</h4>
            <p>填写个人信息——提供征信资料——上传征信报告——全木行风控中心审批——审核结果（1个工作日）</p>
            <h4>2、授信审批条件</h4>
            <ul>
                <li>1)为中国（不含港澳台）公民，十八周岁至六十周岁（最后一期还款日未满60周岁），有完全民事行为能力的自然人，有当地常住户口或有外地户口及本地有效居住证件及固定居所；</li>
                <li>2)有稳定的职业和经济收入；</li>
                <li>3)提交并通过电商记录查询，有完整可核对的电商消费信息；</li>
                <li>4)提交征信查询授权，近2年内无连续3期及以上信用卡逾期记录，累计逾期记录不超过5期；</li>
                <li>5)完成新浪认证及绑卡操作；</li>
                <li>6)符合平台要求的其他条件。</li>
            </ul>
            <h4>3、查询办法</h4>
            <p>按照链金所个人信用评分授信模型，自动计算出的申请人的初始授信额度。当额度部能满足申请人分期需要时，链金所会根据申请人补充提交的增信资料，决定是否提额及提额幅度。提额频率不应超过每月1次。</p>
            <h4>4、什么是增信？</h4>
            <p>增信指在审批额度不够的情况下，用户提交更全面的资产资料，复议申请更高的授信额度。比如有效的增信资料有：</p>
            <ul>
                <li>1)工作单位出具并盖章的个人收入证明；</li>
                <li>2)近6个月个人银行流水；</li>
                <li>3)房产证、车辆登记证、有价证券等资产证明文件；</li>
            </ul>
            <p>最近3个月的水、电、网络、煤气、有线电视等账单。</p>
            <h4>5、审批结果查询办法</h4>
            <p>回到网页顶部"我的额度"即可查询审批结果。</p>
            <h4>6、时效性</h4>
            <p>授信审批期为1个工作日（自额度申请成功提交开始）。授信额度有效期 3个月，最长不超过6个月。当申请人征信情况恶化时，授信额度可能被降低或取消授信额度。</p>
            <h4>7、还款方式及费用</h4>
            <p>采用分期还款方式，在每期还款日自动从绑定还款银行卡扣除。</p>
        </div>
    </div>
</div>
</block>