<extend name="Layouts:seller" />
<block name="title"><title>介绍页-商家入驻-{:C('site_name')}</title></block>
<block name="head_css">
<link href="__CSS__/startshop.css" rel="stylesheet" type="text/css">
</block>

<block name="content">
<div class="start-shop-box fs14">
    <h2 class="tit">免费入驻</h2>
    <div class="enter-exp">入驻全木行免收服务费；一个帐号只能开一家店；开店之后店铺无法注销哦；申请全木行入驻到通过审核需要1-3个工作日。</div>
    <div class="enter-intro cf">
    	<dl class="n1">
            <dt>阅读协议</dt>
            <dd>&middot; 阅读协议</dd>
        </dl>
        <dl class="n2">
            <dt>选择开店类型</dt>
            <dd>&middot; 我是经销商</dd>
            <dd>&middot; 我是装修公司</dd>
            <dd>&middot; 我是品牌家具厂</dd>
        </dl>
		<dl class="n3">
            <dt>提交入驻资料</dt>
            <dd>&middot; 企业基本信息填写</dd>
            <dd>&middot; 法人信息填写</dd>
        </dl>
		<dl class="n4">
            <dt>资料审核</dt>
            <dd>&middot; 企业信息核对</dd>
            <dd>&middot; 企业证件核对</dd>
        </dl>
        <dl class="n5">
            <dt>店铺上线</dt>
        </dl>
    </div>
    <div class="p-process"></div>
</div>
<div class="tc mt30">
    <a href="__ROOT__/shop/StartBusiness/step1" class="btn btn-red">申请入驻</a>
</div>
</block>