<extend name="Layouts:seller" />
<block name="title"><title>资料提交成功-{:C('site_name')}</title></block>
<block name="head_css">
<link href="__CSS__/startshop.css" rel="stylesheet" type="text/css">
</block>

<block name="content">
<div class="order-step mb10">
    <div class="easypay-step rel">
        <p class="tx cf">
            <span class="f">阅读协议</span>
            <span>选择开店类型</span>
            <span>提交入驻资料</span>
            <span>资料审核</span>
            <span>店铺上线</span>
        </p>
        <div class="bg-step">
            <p class="n5"></p>
        </div>
    </div>
</div>
<div class="start-shop-box tc">
    <p class="mt80"><img src="__IMG__/s_select_ok.png" width="170" height="170" alt="提交成功图标" /></p>
    <p class="fs22 cor-black mt30">恭喜，您的店铺已成功上线！</p>
    <p class="fs16 cor-9 mt30">您可以<a href="__ROOT__/shop/storecommon/goodspubstep1" class="ml15 cor-blue">发布商品</a><a href="__ROOT__/shop/storecommon/profile" class="ml15 cor-blue">店铺设置</a></p>
</div>
</block>