<extend name="Layouts:seller" />
<block name="title"><title>审核中-{:C('site_name')}</title></block>
<block name="head_css">
<link href="__CSS__/startshop.css" rel="stylesheet" type="text/css">
</block>

<block name="content">
<div class="order-step mb10">
    <div class="easypay-step rel">
        <p class="tx cf">
            <span class="f">阅读协议</span>
            <span>选择开店类型</span>
            <span>提交入驻资料</span>
            <span>资料审核</span>
            <span>店铺上线</span>
        </p>
        <div class="bg-step">
            <p class="n4"></p>
        </div>
    </div>
</div>
<div class="start-shop-box tc">
    <p class="mt90"><img src="__IMG__/s_select_ok.png" width="170" height="170" alt="提交成功图标" /></p>
    <p class="fs22 cor-black mt30">提交完成</p>
    <p class="fs16 cor-9 mt30">全木行将在一个工作日内完成审核，请耐心等待，审核结果将会以短信的方式发往当前绑定的手机号。</p>
</div>
</block>
