<include file="Application/Common/Layout/head.html" /> 
<div class="am-cf admin-main">
<include file="Application/Common/Layout/left.html" /> 
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">文章管理</strong> / <small>文章列表</small></div>
    </div>
    <hr>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
          	<form action="" method="get">
          	标题：<input type="text" name="search_title" value="<?php echo $searchtitle;?>">
          	文章分类：<select name="search_ac_id" id="search_ac_id" class="">
              <option value="">请选择...</option>
              <?php if(!empty($output['parent_list']) && is_array($output['parent_list'])){ ?>
              <?php foreach($output['parent_list'] as $k => $v){ ?>
              <option <?php if($output['search_ac_id'] == $v['ac_id']){ ?>selected='selected'<?php } ?> value="<?php echo $v['ac_id'];?>"><?php echo $v['ac_name'];?></option>
              <?php } ?>
              <?php } ?>
            </select>
            <input type="submit" value="搜索" >
            </form>
          
          </div>
        </div>
      </div>
    </div>
    <div class="am-g">
      <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
        <thead>
          <tr>
            <th class="table-id">ID</th>
            <th class="table-title" width="8%">排序</th>
            <th class="table-type" width="20%">标题</th>
            <th class="table-type" width="20%">文章分类</th>
            <th class="table-type" width="5%">显示</th>
            <th class="table-type" width="20%">添加时间</th>
            <th class="table-set">操作</th>
          </tr>
        </thead>
        <tbody>
          <volist name="articlelist" id="val">
            <tr>
            	<td><?php echo  $val['article_id'];?></td>
              <td><?php echo  $val['article_sort'];?></td>
              <td><?php echo $val['article_title'];?></td>
              <td><?php echo $val['ac_name'];?></td>
              <td><?php if($val['article_show']==1){?>是<?php }else{?>否<?php }?></td>
              <td><?php echo $val['article_time'];?></td>
              <td>
              <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                	<button onclick="window.location='/Admin/Article/articleadd'" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 新增</button>
                  <button onclick="window.location='/Admin/Article/articlemanage?type=edit&article_id=<?php echo $val['article_id'];?>'" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                  <button onclick="window.location='/Admin/Article/articlemanage?type=delete&article_id=<?php echo $val['article_id'];?>'" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
              </div>
              </td>
            </tr>
          </volist>
        </tbody>
        </table>
      <div class="am-cf">
        共 <?php echo $count ?> 条记录，每页显示15条记录
        <div class="am-fr">{$page} </div>
      </div>
      <hr />
    </div>
    </div>
</div>
</div>
<!-- content end -->
</div>
<include file="Application/Common/Layout/foot.html" />
<script>
	 
</script>